#navigation {
    float: left;
    width: 200px;
    background-color: green;
}

#navigation2 {
    float: right;
    width: 200px;
    background-color: green;
}

#content {
    margin: 0 200px;
    background-color: yellow;
}

#footer {
    clear: both;
    background-color: red;
}